    

    .mensaje {
    color: #3a3a3a; 
    
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.90);
    font-weight: 600;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    }

    
    .mensaje:hover {
    color: #1c1c1c;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.35);
    
    }