
:root {
  --reddion-black: #050505;
  --reddion-gray: #e5e5e5;
  --reddion-red: #C1121F;
}


.navbar-reddion {
  background: var(--reddion-black);
  padding-block: 0.7rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.brand-reddion {
  color: #ffffff;
  font-weight: 800;
  font-size: 1.3rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.nav-reddion-link {
  color: var(--reddion-gray) !important;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
}

.nav-reddion-link:hover {
  color: #fff !important;
}

/* SUBRAYADO ANIMADO */


.nav-reddion-link:hover::after,
.nav-reddion-link.active::after {
  width: 100%;
}

/* DROPDOWN */
#productos-dropdown .dropdown-menu {
  background: white;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

#productos-dropdown .dropdown-item {
  color: var(--reddion-gray);
}

#productos-dropdown .dropdown-item:hover {
  background: var(--reddion-red);
  color: #fff;
}

/* TOGGLER */
.toggler-reddion {
  border-color: rgba(255, 255, 255, 0.5);
}

.toggler-reddion .navbar-toggler-icon {
  filter: invert(1);
}

/* Centrar el grupo de links dentro de la navbar */
.navbar-links {
  justify-content: center;
}

/* Opcional: aseguramos que en escritorio queden bien centrados */
@media (min-width: 992px) {
  .navbar-reddion .navbar-nav {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Forzar que el dropdown parezca un link normal */
.navbar-reddion .dropdown-toggle {
  color: var(--reddion-gray) !important;
  font-weight: 500;
  font-size: 1rem;
  padding: 0;
  margin: 0 1.5rem;
  display: inline-block !important;
}

.navbar-reddion .dropdown-toggle:hover,
.navbar-reddion .dropdown-toggle:focus {
  color: #fff !important;
}

/* Subrayado animado para dropdown igual que otros links */
.navbar-reddion .dropdown-toggle::after {
  content: "";
  border: none !important; /* saca la flechita por defecto */
}

.navbar-reddion .dropdown-container {
  position: relative;
}

.navbar-reddion .dropdown-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: var(--reddion-red);
  transition: width 0.25s ease-out;
}

.navbar-reddion .dropdown-container:hover::after {
  width: 100%;
}


.navbar-reddion .dropdown-menu {
  background-color: #1a1a1a !important;   
  border: 1px solid #222;              
}

.navbar-reddion .dropdown-item {
  color: #fff !important;              
  font-weight: 500;
}

/* Hover del dropdown */
.navbar-reddion .dropdown-item:hover {
  background-color: #222; 
  color: #fff !important;               
}

.cartwidget-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin-left: 1rem;
}

.cartwidget-icon {
  font-size: 1.3rem;
}

.cartwidget-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #C1121F;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 999px;
  padding: 2px 7px;
  line-height: 1.2;
}



