* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050505 !important;   
  color: #fff;
}


.container {
  color: #ffffff;
}

h1 {
  position: relative;
  z-index: 5;  
}
